<h1 class="h1 header">Εγκαταλελειμμένα Οχήματα Δήμου Χίου</h1>
<div class="img-container">
  <img class="front-image" src="./../../../assets/images/front.jpg" />
</div>
<div class="button-container">
  <button
    type="button"
    class="btn btn-primary action-button"
    routerLink="/kataxorisi"
  >
    Καταχώρηση
  </button>
  <button type="button" class="btn btn-primary action-button">Αναζήτηση</button>
  <button type="button" class="btn btn-primary action-button">
    Πέραν του ορίου
  </button>
</div>
